@email{

<table width="100%" border="0"
       cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
                <td height="20"></td>
        </tr>
        <tr>
                <td style="font-family:Arial,Helvetica,sans-serif,Trebuchet MS;font-size:30px;line-height:32px;color:#ffffff;text-align:center">
                        <strong>
                                <div style="text-align:center,color:#ffffff,font-size:20px">


                                        <div><span style="font-size:14px">
        Account registration request has been successfully completed.
        You can now sign into Reviyou app using your email and new password!

                    </span></div>

                                </div>
                        </strong>
                </td>
        </tr>
        <tr>
                <td height="20"></td>
        </tr>
        <tr>
                <td style="font-family:Arial,Helvetica,sans-serif,Trebuchet MS;font-size:15px;line-height:24px;color:#ffffff;text-align:center"></td>
        </tr>
        <tr>
                <td height="30"></td>
        </tr>
        <tr>
                <td height="100"></td>
        </tr>
        </tbody>
</table>
}