<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Opening Reviyou profile</title>
        @scripts
    </head>
    <body>

        <header>
        </header>
        @scripts = {
            <script type="text/javascript">
          var shareId = location.href.split("/").pop();
         <!-- Invoke URL for existing users with app already installed on their device -->
            window.location = 'reviyou://'+shareId;
            <!-- Download URL for new users to download the app -->
            setTimeout("window.location = 'http://reviyou.com/#downloadSectionId';", 1000);
            </script>
        }


    </body>
</html>